.parentContianer {
    box-shadow: 1px 1px 8px 2px #bdbdbd;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 30%;
    margin: auto;
}

.parentContianer h1 {
    background-color: grey;
    width: 505px;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.ourContainer {
    display: flex;
}

.prosContainer {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #000;
    padding-bottom: 15px;
}

.prosContainer h3 {
    border-bottom: 1px solid #000;
    margin: 0;
    width: 251px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prosContainer input { 
    width: 180px;
    border: none;
    margin: 0 auto;
}
.consContainer {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #000;
    padding-bottom: 15px;
}
.consContainer h3 {
    border-bottom: 1px solid #000;
    margin: 0;
    height: 35px;
    width: 251px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prosInput {
    position: relative;
    left: -8px;
    box-shadow: 1px 1px 6px 1px #bdbdbd;
}

.consInput {
    position: relative;
    left: -8px;
    box-shadow: 1px 1px 6px 1px #bdbdbd;
}

.consContainer input {
    width: 180px;
    border: none;
    margin: 0 auto;
}

.list {
    position: relative;
    top: 5px;
    left: 25px;
}

.childList {
    position: absolute;
}